

@font-face {
    font-family: 'visorcalculadora';
    src: url('fuente/digital-7-webfont.woff2') format('woff2'),
         url('fuente/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
	margin: 0;
	padding: 0;
}

h1{
	margin-top: 1rem;
	text-align: center;
	color: rgba(219, 187, 187, 0);
}

.contenedor {
	background-image: url(../img/relojcalculadora.jpg);
	background-size: 100% ;

	display: flex;
	width: 260px;
	box-shadow: 3px 3px 7px rgb(152, 152, 152);
	flex-direction: column;
	margin: 5px auto;
	align-items: center;
	padding: 2px 0 2px 0;
}

.visor {
    display: flex;
    background-color: #b8dee6e3;
    padding: 6px;
    font-size: 40px;
    font-family: 'visorcalculadora';
    color: rgb(92, 91, 91);
    width: 134px;
    height: 22px;
    justify-content: flex-end;
    margin: 58px 25px 0 0;
    max-width: 230px;
    overflow: hidden;
	align-items: center;
}

.calculadora {
    display: grid;
    margin: 30px 0 2px 30px;
    gap: 10px;
    grid-template-columns: 40px 40px 40px 60px;
    grid-template-rows: 20px 20px 20px 20px;
}

.botones, .operacion, .calcular, .adorno {
    width: 25px;
    height: 10px;
    color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    text-align: center;
    padding: 10px 0 0 0;
    user-select: none;
    background-color: rgba(240, 248, 255, 0);
}

.sumar,
.restar,
.multiplicar,
.dividir {
	color: rgba(0, 8, 255, 0);
    font-size: 20px;
}

.igual {
	background-color: rgba(232, 232, 198, 0);
	color: rgb(2, 127, 0);
	font-size: 20px;
}

.botones:active,
.operacion:active,
.calcular:active {
	box-shadow: 0.5px 0.5px 1px rgb(40, 255, 2);
}

.botones:hover,
.operacion:hover,
.calcular:hover {
	background-color: rgba(0, 0, 0, 0.261);
}

.cancelar {
	position: relative;
	top: -104px;
	left: 120px;
	background-color: rgba(255, 151, 151, 0);
	color: rgba(223, 26, 26, 0);
	width: 10%;

}

.cancelar:hover {
	background-color: rgba(255, 255, 255, 0.316);
	color: rgba(255, 255, 255, 0);
	width: 10%;
}
